@charset "UTF-8";

body {
  font-family: 'Roboto', 'Arial', sans-serif;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; }

img {
  -ms-interpolation-mode: bicubic;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
}

/* --------------------------- texts */

h1 {
  font-family: 'Bebas Neue', 'Impact', cursive;
  font-size: 70px;
  padding-top: 10px;
}

h2 {
  font-family: 'Bebas Neue', 'Impact', cursive;
  font-size: 50px;
}

h3 {
  font-family: 'Bebas Neue', 'Impact', cursive;
  font-size: 35px;
  padding-bottom: 40px;
}

h4 {
  font-family: 'Bebas Neue', 'Impact', cursive;
  font-size: 30px;
  padding-bottom: 10px;
}

#introText {
  padding-top: 30px;
  padding-bottom: 30px;
}

#introText p{
  font-size: 1.25em;
  text-align: left;
}

/*Main Section*/
#mainSection {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
}

.buttonSection {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr 2fr;
}

.evanButton img, .jiheeButton img {
  height: 200px;
  transition-duration: 0.8s;
  cursor: pointer;
}

.evanButton img {
  margin-left: 70px;
}

.jiheeButton img {
  margin-top: 100px;
  margin-left: -70px;
}

#line {
  height: 300px;
  border-left: 1px solid #ABB2B9;
}

.evanButton img:hover {
  filter: drop-shadow(-15px 0 5px #808B96);
  margin-top: 15px;
}

.jiheeButton img:hover {
  filter: drop-shadow(15px 0 5px #808B96);
  margin-top: 115px;
}

@keyframes slideIn {
  0%{ transform: translateX(200px)}
  100%{ transform: translateX(0px)}
}

@keyframes fadeIn {
    from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.toggleMenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toggleMenu.flip {
  flex-direction: row-reverse;
  -moz-animation: slideIn 1s ease-in-out 1,  fadeIn 1.5s ease-in-out 1;
  -webkit-animation: slideIn 1s ease-in-out 1,  fadeIn 1.5s ease-in-out 1;
}


.insideInfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
}

.infoContent {
  max-width: 500px;
  line-height: 18px;
}

.interestEvan, .interestJihee {
  padding-bottom: 20px;
}

.interestLogo {
  max-width: 60px;
  padding: 5px;
}
